*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body{
  background-image: url('./Assets/Images/christoffer-engstrom-8NuHwPbO62k-unsplash.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.2%;
  background-color: #af1919;
}

nav{
  width: 100%;
  height: 80px;
  background-color: rgba(190, 158, 102, 0.3);
  display: flex;
  padding: 2vw;
  border: 1px solid black;
  border-radius: 5px 5px;
}

.logo-div{
  /* background-color: aqua; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
  display: block;
}

.logo-svg {
  display: none;
}
.ul-div{
  /* background-color: lightgreen; */
    width: 85%;
    display: flex;
    justify-content: space-around;
}

ul{
  /* background-color: blue; */
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
  /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

li a{
  text-decoration: none;
    color: black;
  }
    
/* li a:hover {
  font-size: 20px;
}

*/
    
.li-anchor {
  display: block;
}
    
.li-svg {
  display: none;
}
    
.menu {
  /* background-color: darkviolet; */
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.menu-icon {
  display: none !important;
}
    
.menu-text {
  display: block;
}

main{
  /* background-color: rgb(32, 178, 83); */
    /* height: 70%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.card {
  padding: 20px;
  font-size: 1em;
  /* height: 61%;
    width: 20%; */
  height: 350px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-radius: 30px 0px;
  margin: 10px;
}

.card h2 {
  /* margin-top: 30px; */
  margin-top: 10%;
  margin-bottom: 10%;
}

footer {
  /* background-color: rgba(71, 30, 7, 0.411); */
  background-color: rgba(190, 158, 102, 0.5);
  width: 100%;
  height: 70px;
  border: 1px solid black;
  /* border-radius: 5px 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: black;
  font-size: 1em;
}

@media screen and (max-width: 768px) {

nav {
    height: 60px;
  }

.logo-text {
  display: none;
}

.logo-svg {
  display: block;
}

.li-anchor{
    display: none;
}
.li-svg{
    display: block;
}

.menu-icon {
  display: block !important;
}

.menu-text {
  display: none;
}

.card{
  height: 300px;
  width: 200px;
  font-size: 0.9em;
}

}

@media screen and (max-width:425px) {

  body{
    min-height: 100vh;
    background-size: auto;
  }

  .card{
  height: 250px;
  width: 200px;
  font-size: 0.9em;
}
footer{
  min-height: 50px;
    font-size: 16px;
}

}

@media screen and (max-width:320px) {

  html,
  body {
    min-width: 320px;
    min-height: 460px;
  }

  .card{
  /* height: 280px;
    width: 200px; */
    height: 275px;
    width: 210px;
    font-size: 0.9em;
 }
}

@media screen and (min-width:1025px) and (max-width:1440px) {
  main {
      /* flex: none; */
      padding: 10px;
      height: 71%;
    }
  
    footer {
      height: 80px;
      padding: 20px 0;
    }
  
  }
  
  @media screen and (max-width:1024px) {
    .card {
      height: 305px;
      width: 226px;
    }
}
    @media(min-width:1552px) and (max-width:2560px) {

nav {
    min-height: 60px;
}

.menu{
  font-size: 2.5em;
}

.logo-text{
  font-size: 2.5em;
}

  .card{

  height: 682px;
  width: 488px;
  font-size: 2.0em;
  }

    main {
      padding: 10px;
      height: 60%;
    }
  
  
    main img {
      width: 80px;
    }
  .card h2{
    font-size: 1.5em;
  }

  .card p{
    font-size: 1.2em;
  }

  li a{
    font-size: 2.5em;
    }
    
    footer {
      height: 144px;
    }

footer p {
  font-size: 2.5em;
}
}